body{
    width: 120rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

.first-section{
    height: 40.63rem;
    background: hsl(49, 100%, 50%);
    padding-left: 18.94rem;
    padding-right: 12.69rem;
}
.header{
    display: flex;
    padding-top: 2rem;
}
.header_logo{
    font-size: 1.88rem;
    font-weight: 600;
    line-height: 2.31rem;
    margin-right: 19.5rem;
    padding-top: 0.5rem;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    width: 28.75rem;
    margin-right: 13.5rem;
    padding-top: 1rem;
    position: relative;
    z-index: 2;
}
.header_menu li{
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.38rem;
    list-style-type: none;
}

.header_menu li a:hover{
    color: #FF352B;
    transition: 0.5s;
}

.header_number{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding-top: 1rem;
}

.menu-burger{
    display: none;
}

.first-section_main-part{
    display: flex;
    position: relative;
}

.first-section_title{
    font-size: 4.25rem;
    width: 31.25rem;
    font-weight: 700;
    padding: 5rem 0 1rem 0;
    color: #333333;
}

.first-section_article{
    font-weight: 600;
    font-size: 1.85rem;
    padding-bottom: 3rem;
    color: #333333;
}

.first-section_article2{
    display: none;
}

.first-section_button{
    position: relative;
    background: #FF352B;
    width: 19rem;
    height: 3.88rem;
    font-size: 1.5rem;
    line-height: 1.81rem;
    color: #F2F2F2;
    letter-spacing: 0.05rem;
    z-index: 1;
    border:none
}

.first-section_button:hover{
    background: #FF772B;
    transition: 0.5s;
    box-shadow: 10px 10px 0px #F2F2F2;

}

.button_second-border{
    position: absolute;
    width: 19rem;
    height: 3.75rem;
    bottom: 14.2rem;
    left: 0.5rem;
    z-index: 0;
    border: 2px solid #F2F2F2;
}

.first-section_advantages{
    display: flex;
    padding-top: 5.2rem;
}

.first-section_advantages p{
    width: 8rem;
}
.first-section_advantages img{
    padding-right: 0.5rem;
}

.first-section_images{
    display: flex;
}

.man_image{
    margin-left: 0.5rem;
    position: relative;
    z-index: 1;
    top: -2rem;
    left: 4.5rem;
}
.car_image{
    position: absolute;
    z-index: 0;
    top: 6rem;
    right: 0.1rem;
}

.first-round{
    position: relative;
    background: rgba(61, 155, 233, 0.3);
    width: 136px;
    height: 136px;
    border-radius: 50%;
    z-index: 0;  
    top: 25rem;
    left: 14rem;
}

.second-round{
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(61, 155, 233);
    border-radius: 50%;
    top: 26rem;
    right: 8.9rem;
}

.second-round:hover{
    width: 136px;
    height: 136px;
    right: 7.8rem;
    top: 25rem;
    transition: 0.5s;
}

.phone_image{
    position: absolute;
    top: 27.4rem;
    right: 10.4rem;
}


@media screen and (max-width:320px){
    .first-section{
        background: hsl(49, 100%, 50%);
        padding-left: 0.8rem;
        height: 37.5rem;
    }

    .header{
        padding-top: 1.9rem;
    }

    .header_logo{
        font-size: 1rem;
        line-height: 1.22rem;
        text-transform: uppercase;
        margin-right: 0;
        padding-top: 0;
    }
    
    .menu-burger{
        display: block;
        padding-left: 11.7rem;
    }

    .first-section_title{
        font-size: 1.75rem;
        width: 12rem;
        padding: 1rem 0 0 3.3rem;
        text-align: center;
        line-height: 2.4rem;
    }

    .first-section_article2{
        display: block;
        font-size: 1.13rem;
        line-height: 1.38rem;
        font-weight: 600;
        color: #333333;
        padding: 0.1rem 0 0 2.6rem;
    }

    .header_menu,
    .header_number,
    .first-section_advantages,
    .button_second-border,
    .car_image,
    .first-round,
    .second-round,
    .first-section_article,
    .phone_image{
       display: none;
    }


    .man_image{
        position: absolute;
        z-index: 1;
        top: 5rem;
        left: 1.5rem;
        width: 15.5rem;

        /* Не вышло этим способом, только если менять значения*/
        /*top:50%;
        left:50%;
        transform:translate(-50%, -50%);*/
    }

    .first-section_button{
        top: 21rem;
        z-index: 3;
        font-size: 1.25rem;
        line-height: 1.53rem;
        width: 18rem;
    }

}